* {
    box-sizing: border-box;
  }
  

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

header{
    height:50px;
    background-color:rgb(73, 41, 3);
    z-index:100px;
    position: fixed;
    top: 0;
    width:100%;
}

.container{
    max-width: 1000px;
    width:100%;
    margin:0 auto;
}

.leftHeader{
    float:left;
    padding:5px 0;
}

.leftHeader h3{
  color:white;
  margin-left:30px;
}

.leftHeader p{
    color:rgb(253, 196, 223);
    font-size:1px;
    margin-left:50px;
}

.rightHeader{
    float:right;
    margin-right:20px;
}

.rightHeader li{
    float:left;
    padding-right:5px;
}

.fa:hover{
    opacity:0.5;
}

.mainUp{
    background-image:url("flower420144_TP_V.jpg");
    background-size:cover;
    height:540px;
}

.mainTitle{
    padding:100px 0 80px 40px;
}

.mainTitle h1{
  color:rgb(167, 133, 102);
  background-color:rgba(255, 255, 255, 0.7);
  opacity:0.5px;
}

.main2Title{
    display:none;
}

span{
    color:rgb(231, 79, 79,0.8);
}

.main-Btn{
    text-align:center;
    margin-top:150px;
}

.btn{
    border-radius:4px;
    color:white;
    padding:5px 40px;
    opacity:0.5;
    box-shadow:0 7px rgb(114, 4, 56);
}

.btn:hover{
    opacity:1;
}

.btn:active{
    box-shadow:none;
    position:relative;
    top:7px;
}

a{
    text-decoration: none;
}

.profile-btn{
    background-color:rgba(175, 6, 85);
}

.work-btn{
    background-color:rgba(175, 6, 85);
    margin:0 100px;
}

.form-btn{
    background-color:rgba(175, 6, 85);
}

.profile{
    padding:200px 0 0 20px;
    height:1000px;
    text-align:center;
}

.left-profile{
    margin-bottom:30px;
}

.left-profile img{
    width: 25%;    /* 横幅を割合で指定 */
    height: auto;  /* 高さは自動指定 */

}

.list-title{
    color:rgb(180, 123, 17);
    margin:80px;
    font-size:25px;
    border:2px solid black;
    text-align:center;
}

.right-profile1 h2{
    color:rgba(228, 39, 65, 0.836);
}

.right-profile1 p{
    color:rgba(78, 2, 2, 0.993);
    font-size:14px;
}

.right-profile2{
    font-size:13px;
    margin-top:30px;
}

.work{
    text-align:center;
    height:700px;
}

.work h3{
    margin-bottom:20px
}

.work p{
    font-size:12px;
}

.form{
    text-align:center;
    height:800px;
    
}

.form-title{
    margin-bottom:30px;
}

.form-main{
    font-size:14px;
    bakground-color:pink;
    height:200px;
}

input,textarea{
    width:40%;
}

textarea{
    padding:30px 0;
}

.send{
    padding:5px 0;
    color:rgb(104, 103, 103)
}

footer{
    height:130px;
    width:100%;
    background-color:rgb(43, 24, 2);
    text-align:center;
}

footer p{
    font-size:10px;
    padding-top:50px;
    color:white;
}

.footer-icon{
    display:inline-block;
    text-align:center;
}

.footer-icon li{
    float:left;
    padding-right:5px;

}

/*レスポンシブ*/
@media(max-width:690px){
    .mainTitle h1{
         font-size:25px;
    }
    input,textarea{
        width:70%;
    }

}

@media(max-width:630px){
    .profile-btn,.work-btn,.form-btn{
        display:block;
        margin:50px 10px;
        width:100%;
    }

    .mainTitle{
        display:none;
    }

    .main2Title{
        display:block;
        padding:100px 0 80px 40px;
        background-color:rgba(255, 255, 255, 0.7);
    }
    
    .main2Title h1{
        font-size:25px;
        color:rgb(167, 133, 102);

      }
    
}


